@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

p {
  /* @apply p-1; */
}

body > footer {
  position: sticky;
  top: 100vh;
}
